.App {
  text-align: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  min-height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 250px;
  border: 1px solid #644545;
  border-radius: 8px;
  margin-bottom: 20px;
}

.meal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.meal-card, .favorite-card {
  background: rgb(223, 147, 147);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  width: 250px;
  text-align: left;
}

.meal-card button {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.meal-card button:hover {
  background: #e84141;
}

.favorites {
  margin-top: 30px;
}

.meal-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
